@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('ARCADECLASSIC.TTF');
    font-weight: normal;
}

@font-face {
    font-family: 'Gameplay';
    src: url('Gameplay.ttf');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 0;
    font-family: 'ARCADECLASSIC', 'Gameplay';
    display: flex;
    margin: 0;
}

.container {
    flex: auto;
    display: flex;
    margin: 1em;
}

.sidebar-log {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(purple, blue, skyblue, indigo);
    overflow: auto;
}

.sidebar-header {
    border-radius: 10px 10px 0 0;
    background-color: rgb(36, 33, 33);
    font-size: 25px;
    color: white;
    padding: 20px;
}

.game-log{
    flex: 1;
    background-color: beige;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    white-space: pre-wrap;
}

.divider {
    background-color: rgb(0, 0, 0, 0.1);
    flex: .03;
}

.game-container {
    background-color: rgb(0, 0, 0, 0.5);
    flex: 5;
    display: flex;
    flex-direction: column;
}

.game-header {
    height: 60px;
    display: flex;
    margin: 10px;
    gap: 10px;
}

.player-info,
.computer-info {
    flex: 2;
    display: flex;
    gap: 15px;
}

.round {
    border: 2px solid indigo;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    font-size: 50px;    
    flex: 1;
    padding: 0 20px 0 20px;
}

.player-icon,
.computer-icon {
    background-color: brown;
    border: 2px solid rgb(114, 37, 37);
    padding: 5px;
    border-radius: 50%;
}

.player-icon img,
.computer-icon img{
    height: 48px;
}

.player-points,
.computer-points {
    background: linear-gradient(to right, gray, darkgray, rgb(75, 73, 73));
    border: 3px solid transparent;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    flex: 2;
    display: flex;
}

.player-points-red,
.computer-points-red {
    flex:0;
    background-color: red;
}

.player-points-green,
.computer-points-green {
    flex:1;
    background-color: green;
}

.game-content {
    flex: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: white;
    font-size: 50px;
    height: 353px;
}

.left-black-screen,
.right-black-screen {
    flex: .4;
}

.screen {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.game-text {
    font-size: 45px;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    transform: translate(0%,50%);
    visibility: hidden;
}

.screen img{
    border-radius: 20px 20px 0 0;
    height: 340px;
}

.game-screen-footer {
    flex: .1;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 20px 20px;
    color: white;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}

.move-selection {
    border: 2px solid black;
    flex: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-color: #4c4c3e;
}

.move-selection img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.move-selection button {
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 5px rgb(0, 0, 0, 0.5);
    background-color: black;
    transition: transform .2s;
    opacity: 0.5;
}

.move-selection button:hover {
    opacity: 1 !important;
}

.move-selection button:active{
    box-shadow: 0 3px;
    transform: translateY(2px);
}

.text {
    margin-left: 50px;
    color: white;
    font-size: 28px;
}

.start-button,
.restart-button {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    font-family: 'ARCADECLASSIC';
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #929274;
    box-shadow: 0.5px 2px #6b6b56;
}

.start-button:hover,
.restart-button:hover {
    background-color: rgb(219, 215, 215) !important;
}

.start-button:active,
.restart-button:active {
    box-shadow: 0 0;
    transform: translate(-49%,-50%);
}

button:hover{
    cursor: pointer;
}

.move-selection button,
.move-selection p,
.player-info,
.round,
.computer-info,
.game-screen-footer-text,
.restart-button,
.character{
    visibility: hidden;
}

.character {
    position: absolute;
    max-height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
}
