@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('ARCADECLASSIC.TTF');
    font-weight: normal;
}

@font-face {
    font-family: 'Gameplay';
    src: url('Gameplay.ttf');
    font-weight: normal;
}

body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: 0;
    font-family: 'ARCADECLASSIC', 'Gameplay';
    display: flex;
    margin: 0;
}

.container {
    flex: auto;
    display: flex;
    margin: 1em;
}

.sidebar-log {
    flex: 1;
    background-color: beige;
    margin: 0;
}

.sidebar-header {
    margin: 0;
    background-color: rgb(36, 33, 33);
    font-size: 25px;
    color: white;
    padding: 20px;
}

.sidebar-log p {
    padding: 5px;
    margin-left: 10px;
}

.divider {
    background-color: rgb(0, 0, 0, 0.1);
    flex: .03;
}

.game-container {
    background-color: rgb(0, 0, 0, 0.5);
    flex: 5;
    display: flex;
    flex-direction: column;
}

.game-header {
    height: 60px;
    display: flex;
    margin: 10px;
    gap: 10px;
}

.player-info,
.computer-info {
    flex: 2;
    display: flex;
    gap: 15px;
}

.round {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    font-size: 50px;    
    flex: 1;
    padding: 0 20px 0 20px;
}

.player-icon,
.computer-icon {
    background-color: brown;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}

.player-icon img,
.computer-icon img{
    height: 48px;
}

.player-points,
.computer-points {
    flex: 2;
    display: flex;
}

.player-points-red,
.computer-points-red {
    flex:0;
    background-color: red;
    margin: 12px 0 12px 0;
}

.player-points-green,
.computer-points-green {
    flex:1;
    background-color: green;
    margin: 12px 0 12px 0;
}

.game-content {
    flex: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: white;
    font-size: 50px;
    height: 353px;
}

.left-black-screen,
.right-black-screen {
    flex: .4;
}

.screen {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

.game-text {
    font-size: 45px;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    transform: translate(0%,50%);
    display: none;
}

.screen img{
    border-radius: 20px 20px 0 0;
    height: 340px;
}

.game-screen-footer {
    flex: .1;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 20px 20px;
    color: white;
    justify-content: center;
    font-size: 20px;
}

.move-selection {
    flex: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 0px;
    background-color: #4c4c3e;
}

/*
.move-selection button,
.move-selection p,
.player-info,
.round,
.computer-info,
.game-screen-footer-text {
    display: none;
}
*/

.move-selection img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.move-selection button {
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 0 5px rgb(0, 0, 0, 0.5);
    background-color: black;
    transition: transform .2s;
    cursor: pointer;
    opacity: 0.5;
}

.move-selection button:hover {
    opacity: 1;
}

.move-selection button:active{
    box-shadow: 0 3px;
    transform: translateY(2px);
}

.text {
    margin-left: 50px;
    color: white;
    font-size: 28px;
}

